.callout[data-callout="math"] {
    --callout-color: 180, 180, 50;
    --callout-icon: lucide-alert-circle;
}

.callout[data-callout="psych"] {
    --callout-color: 173, 66, 242;
    --callout-icon: lucide-alert-circle;
}
.callout[data-callout="pharma"] {
    --callout-color: 173, 66, 242;
    --callout-icon: lucide-alert-circle;
}
.callout[data-callout="neuroanatomy"] {
    --callout-color: 173, 66, 242;
    --callout-icon: lucide-alert-circle;
}
.callout[data-callout="chem"] {
    --callout-color: 173, 66, 242;
    --callout-icon: lucide-alert-circle;
}

.callout[data-callout="experiment"] {
    --callout-color: 153, 66, 242;
    --callout-icon: lucide-alert-circle;
}

.callout[data-callout="pers"] {
    --callout-color: 123, 66, 242;
    --callout-icon: lucide-alert-circle;
}

.callout[data-callout="study"] {
    --callout-color: 123, 66, 242;
    --callout-icon: lucide-alert-circle;
}


.callout[data-callout="drug"] {
    --callout-color: 123, 66, 242;
    --callout-icon: lucide-alert-circle;
}



.callout[data-callout="psyChemical"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}


.callout[data-callout="optimize"] {
    --callout-color: 123, 66, 42;
}
.callout[data-callout="learn"] {
    --callout-color: 123, 66, 42;
}

.callout[data-callout="chemical"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="synapse"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="cognition"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="target"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks1"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks0"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="notday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="doneday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="today"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="monday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="tuesday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="wednesday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="thursday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="friday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="saturday"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="tasks2"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks3"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks4"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="tasks5"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks6"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks7"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks8"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks9"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="tasks10"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="filecreated"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="fileupdated"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="meds0"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="meds1"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="genes"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="appsych"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="apcalc"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}

.callout[data-callout="efp"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}



.callout[data-callout="timetracker"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}
.callout[data-callout="keypoints"] {
    --callout-color: 123, 66, 42;
    --callout-icon: custom-PsychologyBook;
}